@model LawnBattle.Models.Player

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Model.IsActive = true;
    Model.IsHuman = true;
}

<h2>Viewing @Model.Name</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.HiddenFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.HiddenFor(model => model.IsActive)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.HiddenFor(model => model.IsHuman, new { value = 1})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <p>
                    <input type="submit" value="Update" class="btn btn-success btn-block" />
                </p>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <p>
            <a href="@Url.RouteUrl("EventsPlayers", new { eventSlug = Model.Event.EventKey, action = "index" })">
                <button type="button" class="btn btn-default btn-block">Cancel</button>
            </a>
        </p>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
