@model IEnumerable<LawnBattle.Models.Player>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>Manage Players</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div>
            <p>
                <a href="@Url.RouteUrl("EventsPlayers", new { eventSlug = ViewBag.eventSlug, action = "create" })">
                    <button type="button" class="btn btn-success btn-block">Add a Player</button>
                </a>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @foreach (var ThisPlayer in Model)
        {
            <p>
                <a href="@Url.RouteUrl("EventsPlayers", new { eventSlug = ThisPlayer.Event.EventKey, action = "edit", id = ThisPlayer.ID })">
                    <button type="button" class="btn btn-default btn-block">@ThisPlayer.Name</button>
                </a>
            </p>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a href="@Url.RouteUrl("EventSlug", new { id = ViewBag.eventSlug })">
            <button type="button" class="btn btn-success btn-block">Back to Home</button>
        </a>
    </div>
</div>

@*



    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHuman)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHuman)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }

    </table>
*@