@model LawnBattle.Models.Event

@{
    ViewBag.Title = "Welcome To Lawn Battle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome!</h2>
<hr />  

@using (Html.BeginForm("ReRoute","Events"))
{
    @*Html.AntiForgeryToken()*@

    <div class="form-horizontal">
        <h4>Know your event name?</h4>
        <h5>Is your event already created? If so, enter the name of the event created below</h5>
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="col-md-12">
                <input type="text" class="form-control" name="EventKey"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Enter Event" class="btn btn-success btn-block" />
            </div>
        </div>
    </div>
}

<hr />

@using (Html.BeginForm())
{
    @*Html.AntiForgeryToken()*@

    <div class="form-horizontal">
        <h4>Don't have an event yet?</h4>
        <h5>Not a problem! Think of an event name and enter it below</h5>
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Create Event" class="btn btn-info btn-block" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
