@model LawnBattle.Models.Event

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>@Model.Name</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Active Tournies</h4>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        @foreach (var ThisTournament in Model.Tournaments)
        {
            <p><a href="@Url.RouteUrl("EventsTournaments", new { eventSlug = Model.EventKey, action = "details", id = ThisTournament.ID })">
                <button type="button" class="btn btn-default btn-block" >@ThisTournament.Name</button></a></p>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div>
            <p>
                <a href="@Url.RouteUrl("EventsTournaments", new { eventSlug = Model.EventKey, action = "create" })">
                    <button type="button" class="btn btn-success btn-block">Create New Tournament</button>
                </a>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Complete Tournies</h4>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        @foreach (var ThisTournament in Model.Tournaments)
        {
            <p>
                <a href="@Url.RouteUrl("EventsTournaments", new { eventSlug = Model.EventKey, action = "details", id = ThisTournament.ID })">
                    <button type="button" class="btn btn-default btn-block">@ThisTournament.Name</button>
                </a>
            </p>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div>
            <p>
                <a href="@Url.RouteUrl("EventsPlayers", new { eventSlug = Model.EventKey, action = "index" })">
                    <button type="button" class="btn btn-info btn-block">Manage Players</button>
                </a>
            </p>
        </div>
    </div>
</div>

@*
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@



