@model LawnBattle.Models.Tournament

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tournament</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TournamentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TournamentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Teams)
        </dt>
        <dd>
            <ul>
            @{
                foreach(var ThisTeam in Model.Teams)
                {
                    <li>@ThisTeam.Name</li>
                    <ul>
                        <li>@ThisTeam.Player1.Name</li>
                        <li>@ThisTeam.Player2.Name</li>
                    </ul>
                }
            }
            </ul>
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
